/.project
/**/__contents__.xml
/**/*.bak
/**/users.xml
/**/secrets.xml
/**/test
/**/commit-id.xml

# from exide
/**/build.xml
/**/cypress.config.js
/**/expath-pkg.xml
/**/icon.png
/**/LICENSE
/**/package-lock.json
/**/package.json
/**/repo.xml