.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  margin:2px;
}
.autocomplete-items {
    margin:2px;
    background-color: #fff;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
   margin:2px;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: lightgrey;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: lightgrey !important;
}

.inputSuggestion{
    height:25px; 
    border:1px solid #c0c0c0; 
    border-radius:3px;
    width:300px;
    font-size: 13px;
    padding:2px;
}

/*
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
  
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
*/