/* Application styles could go here */

body {
	margin:0pt;
	background:#E0DEDF;
	color:#333;
	font-family:helvetica,arial,sans-serif;
	font-size:13px;
	line-height:1.4;
}

div#all {
	margin:0pt auto;
	width:1100px;
	padding:5pt;
	text-align:justify;
	color:#333;
	border:solid 0px;
	padding-top:0px;
	background:white;
	min-height:812px;
}

.logoheader {
	background:white URL(../images/bannerNeu.png) no-repeat bottom center;
	color:#111;
	min-height:185px;
	margin:0 10px 0 10px;
	padding-top:20px;
	text-align:left;
	font-weight:normal;
	line-height:1.5em;	
}

div.menu{
    float:left;
    width:21%;
    text-align:left;    
}

ul#menu{
    margin-left:13px;
    margin-top:0px;
    margin-right:5px;
    padding:0px;
    list-style-type:square;    
    list-style-position:inside;
}

ul.column {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

li{
    margin-bottom:5px;
}

.button{    
    margin-top:5px; 
    border: 1px #CCCCCC solid; 
    border-radius:3px;
    width:80px; 
    padding:2px; 
    text-align:center;
    background-color:whitesmoke;
    color:grey;    
    margin-left:2px;
    cursor:pointer;
}

div.ri-tab-line {
    margin: 0px 35px 5px 35px;
    border-bottom: 1px solid #AAA;
    background:white URL(../images/bannerNeu-lastline.png) repeat-y bottom center;
}

.ri{
    position:relative;
    top:2px;
    background-color:transparent;
    border:transparent;
    /* border: 1px solid #AAA;
    border-color: transparent transparent #AAA transparent;
    */ 
    width:100px; 
    padding:5px 7px; 
    text-align:center;
    color:white;
    margin:0px;    
}

.ri:hover{
    background-color: #FFFFFFDD;
    color:grey;
}

.ri-active{
    border-color: #DDD;
    background-color:white;
    border-bottom-color: transparent;
    color:grey;
}

.ri-active:hover{
    background-color:white;
}

.content{
    float:left;
    margin-left:5px;
    border-left: 2px solid #CCCCCC;   
    padding-left:15px;    
    width:72%;
    min-height:615px;
    text-align:left;
}

.navigation{
    font-size:11px;
    margin-bottom:25px;
}

hr{
    border: none;
    border-top: 1px solid black;
}

.title {
	font-size:22px;
	font-weight:bold;
}

.subtitle {
	font-size:18px;
	font-weight:bold;
}

.heading {
	font-size:16px;
	font-weight:bold;
}

.heading2 {
	font-size:14px;
	font-weight:bold;
	text-decoration:underline;
	color: #BBBBBB
}

.heading3 {
	font-size:14px;
	font-weight:bold;
}

.heading4 {
	font-size:13px;
	font-weight:bold;
    font-style:italic;
}

.desctext{
    text-align:justify;
}

.list-text{
    font-size:14px;
    font-weight:bold;
    background-color:white; 
    border:0px; 
    padding:0px;
}

.edit{
    margin-left:7px;
    padding:0px;
    text-decoration:underline;
    color: #6699cc;
    background-color:white;    
    border:0px;
    font-size:12px;
    font-family:helvetica,arial,sans-serif;
}

.error{
    font-size:12px;
    color:red;
}

.inputText{
    height:20px; 
    border:1px solid #c0c0c0; 
    border-radius:3px;
    width:300px;
    font-size: 13px;
    padding-left:2px;
    padding-right:2px;
    font-family:inherit;
}

.inputTextError{
    height:20px; 
    border:1px solid red; 
    border-radius:3px;
    width:300px;
    font-size: 13px;
    padding-left:2px;
    padding-right:2px;
}

.inputSelect{
   width:405px; 
   padding:2px 0px 2px 0px; 
   font-size:13px; 
   border:1px solid #c0c0c0; 
   border-radius:3px;
   vertical-align:bottom;
   font-family:inherit;
   color:grey;
}

.inputSelectError{
   width:405px; 
   padding:2px 0px 2px 0px; 
   font-size:13px; 
   border:1px solid red; 
   border-radius:3px;
   vertical-align:bottom;
}

.inputFile{
   font-size:13px;
   position: relative;   
   margin-bottom:3px; 
}

h2{
    font-size:16px;
    font-weight:bold;
    margin-top:25px;
}

h3{
    font-size:14px;
    font-weight:bold;
}

h4{
    font-size:13px;
    font-weight:bold;
    font-style:italic;
}


div,table {
margin: 10pt;
}

div.version {
	padding: 5pt;
	border:solid 1pt #c0c0c0;
	border-radius:3px;
}

div.relations {
	border:solid 1pt #c0c0c0;
}

div.footer {    
	border-top: solid 1pt #c0c0c0;
	font-size: 75%;		
	margin-top:25px;
	bottom: 5px;
	clear:both;
}

.Editor:before {
	content:"Editor: "
}

.person:before {
	content:url(../images/person_icon.png);
}

.status {
  font-size: 75%;
}

.status:before {
  margin-left:3px;
  content:"["
}

.status:after {
  content:"]"
}

a {
  text-decoration:none;
  color: #467CA8; 
}

a.visited {
  color: purple;
}

/*a:hover{    
    color:black;
}*/

th {
  border-bottom-style:solid;
  border-bottom-width:1pt;
  border-bottom-color:black;
}

.column{
    border: 1px solid lightgrey;
    padding:5px;
    vertical-align:top;
}

.row{
    border-bottom:1px solid #DDDDDD; 
    text-align:left; 
    height:20px;
}

.row-odd{
    border-bottom:1px solid #DDDDDD; 
    text-align:left; 
    height:20px;
    background-color:#eaeaea;
}

.tdmenu{
    padding-left:5px; border-bottom:1px solid #DDDDDD;
}

.tdmenu:hover{
    background-color:#EEE;
}

.header{    
    border-bottom:1px solid #BBBBBB;
}

.recommendation-row{
    border-bottom:1px solid #DDDDDD; 
    text-align:left; 
    vertical-align:middle;
    height:20px;
}

.tooltip {
  position: relative;
}

.tooltiptext {
   visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  padding: 7px;
  border-radius: 4px;
  opacity:0.8;
 
  /* Position the tooltip text*/
  position: absolute;
  top:100%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.copy-icon{
    margin-left: 5px;
}
.pointer:hover{
    cursor: pointer;
}

.hint{
    color:green; 
    margin-left: 5px; 
    display:none;
}

.hint.clicked{
    display:inline;
    transition-duration:10s;
}

.code{
    font-family:courier, fixed, monospace;
}